.main-divs {
    display: flex;
    flex-wrap: wrap; /* Hace que respete el ancho del hijo*/
    gap: 20px; /*Da una separación uniforme entre los hijos*/
}

.caja{
    font-size: 30px;
    /* color: white; */
    width: 200px;
    height: 200px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.caja a {
    text-decoration: none;
    background-color: blue;
    width: 150px;
    color: white;
}

.caja:hover{
    background-color: rgb(38, 107, 27);
}