@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

/* HEADER */

.cabecera {
    /* background-color: bisque; */
    height: 15vh;
    height: 144.75px;
    /* position: sticky;
    top: 0; */

}

.menu {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.div-logo {
    width: 300px;

}

.img {
    height: 100px;
    width: 100px;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Fvector-gratis%2Filustracion-dibujos-animados-personaje-perro-bull-terrier_11460-8931.jpg&f=1&nofb=1&ipt=979453610c16c0543836de23679f1fac3c937ea7b1e419c8dbe72c9b27fbc5d3&ipo=images');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 90px;
}

.logo {
    margin-left: 50px;
    height: 50px;
}

.titulo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 50px;
}

.lista {
    align-items: center;
    width: 400px;
    margin-right: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 25px;


}

.lista li {
    list-style: none;
}

.lista li a {
    text-decoration: none;
    color: black;

}

.formulario-contacto{font-size: 20px;
}

.formulario-contacto button {
    background-color: hsl(21, 34%, 64%);;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 200ms;
}

.formulario-contacto input{ width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

form{background-color:hsl(21, 34%, 64%);
}






.pie-de-pag {
    /* background-color: lightcoral; */
    height: 10vh;
    height: 96.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.div-redes,
.info {
    display: flex;
    gap: 100px;
}

.div-redes {
    font-size: 50px;
    color: black;
    text-decoration: none;
}

.info a {
    font-family: 'Roboto', sans-serif;
    color: brown;
    text-decoration: none;
    font-size: 20px
}