.formulario-contacto button {
    background-color: hsl(21, 34%, 64%);;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 200ms;
}

.formulario-contacto input{ width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

form{background-color:hsl(21, 34%, 64%);
}

