.formulario-contacto {
    width: 40%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: hsl(21, 34%, 64%);
    margin: 0px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}


.formulario-contacto button {
    background-color: #e7b9a0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 200ms;
}

.formulario_div {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    gap: 10px;
}


/* .formulario_div input {
    width: 100%;
     
    } */

.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto textarea {
    font-size: 18px;
    /* Aumenta el tamaño de la letra en los campos de texto y textarea */
}

.formulario-contacto textarea {
    resize: none;
    width: 450px;
    height: 230px;
}

.formulario-contacto button[type="submit"] {
    font-size: 20px;
    /* Aumenta el tamaño de la letra en el botón */
}

