/* .dark {

}

.ligth{

} */

#autos {
    display: flex;
    flex-wrap: wrap;
}
.card-auto{
    width: 200px;
    background-color: rgb(89, 132, 173);
    margin: 5px 10px;
}
.cero {
    background-color: chartreuse;
}

.usado {
    background-color: rgb(255, 0, 255);
}